<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seed Store</title>
    <link rel="stylesheet" href="navbar.css">
    <style>
     
      body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container with background image */
.container {
    margin: 0;
    padding: 100px;
    height: 500px;
    width: 90%;
    margin: auto;
    background-image: url("images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
   background-position-y:-80px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




.container2 {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
 
}


 

    </style>
 
     

</head>
<body>
  
    
         {{>navbar}}
       <div class="container"></div>
               <div class="container2">
            <h2>About Us</h2>
            <p>Seed  Store is dedicated to providing top-quality seeds that help you grow the best garden possible. With a focus on organic and sustainable products, we aim to make gardening accessible and enjoyable for everyone.</p>
           
        </div>


      
   
        
    

    

    
   
      
   


</body>
</html>
